/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Roboto Mono", monospace;
	font-weight: 700;
	font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 350px;
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.15);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 24px;
}

.input-group {
    margin-bottom: 1.5rem;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 0.5rem;
    display: block;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.password-container {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background: linear-gradient(45deg, #ee0979, #ff6a00);
}
